<%- include('partials/header'); -%>
 
 <br><br><br>
    <div class="container">
      <h1>Cadastro de Pessoas</h1>
      <p class="lead">Projeto desenvolvido com Node, MySql e ORM(Sequelize) - DevPleno - Curso FullStackMaster.</p>

      <br>
      <hr>
      
      <p class="lead">By @blogdomarcio</p>
    </div>


 <%- include('partials/footer'); -%>